In [1]:
import pandas as pd
import geopandas 
import fiona
import matplotlib as plt
import folium

# Jakie emocje dominują w piosenkach w różnych krajach

In [2]:
spotify_final_database = pd.read_csv('Final database.csv')

C:\Users\kinga\AppData\Local\Temp\ipykernel_2732\1388054030.py:1: DtypeWarning: Columns (7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  spotify_final_database = pd.read_csv('Final database.csv')

In [3]:
songs_emotions = spotify_final_database[['Popularity', 'Country', 'Title', 'Artist', 'syuzhet_norm']]

### Żeby sprawdzić, czy w danym kraju domunują piosenki o negatywnie czy pozytywnie zabarwione emocjonalnie policzę sumę kolumny syuzhet_norm dla każdego z krajów

In [4]:
#grupowanie danych po kraju 
emotions = songs_emotions.dropna()

emotions

,Popularity,Country,Title,Artist,syuzhet_norm
16,418.00,Global,it wont kill ya,The Chainsmokers - Louane,-1.0
17,581.20,USA,it wont kill ya,The Chainsmokers - Louane,-1.0
18,120.80,UK,it wont kill ya,The Chainsmokers - Louane,-1.0
19,404.00,Austria,it wont kill ya,The Chainsmokers - Louane,-1.0
20,29.60,Australia,it wont kill ya,The Chainsmokers - Louane,-1.0
...,...,...,...,...,...
170516,102.00,Taiwan,thank you,Meghan Trainor - R. City,-1.0
170564,631.60,Taiwan,somebody,Patrick Brasca,1.0
170577,1281.60,Taiwan,moonlight,Will Pan - Tia Ray,-1.0
170603,6.40,Taiwan,audio,Sia - Diplo - Labrinth - LSD,-1.0
170610,396.45,Taiwan,velvet rope,Rita Ora,-1.0

In [5]:
country_emotions = pd.DataFrame(emotions.groupby('Country')['syuzhet_norm'].sum())
country_emotions

             syuzhet_norm
Country
Argentina           106.0
Australia           127.0
Austria              95.0
Belgium             137.0
Brazil              107.0
Canada             -147.0
Chile               130.0
Colombia            117.0
Costa Rica           72.0
Denmark             185.0
Ecuador             116.0
Finland              44.0
France              119.0
Germany             101.0
Global              -34.0
Indonesia           100.0
Ireland             394.0
Italy               108.0
Malaysia            180.0
Mexico              145.0
Netherlands         200.0
New Zealand          73.0
Norway               96.0
Peru                117.0
Philippines         212.0
Poland              211.0
Portugal             96.0
Singapore           172.0
Spain               156.0
Sweden              195.0
Switzerland          86.0
Taiwan              195.0
Turkey               26.0
UK                  342.0
USA                -213.0

In [6]:
c_emotions = pd.read_csv('emotions.csv')

In [7]:
c_emotions

                     Country  Emotions
0                  Argentina     106.0
1                  Australia     127.0
2                    Austria      95.0
3                    Belgium     137.0
4                     Brazil     107.0
5                     Canada    -147.0
6                      Chile     130.0
7                   Colombia     117.0
8                 Costa Rica      72.0
9                    Denmark     185.0
10                   Ecuador     116.0
11                   Finland      44.0
12                    France     119.0
13                   Germany     101.0
14                    Global     -34.0
15                 Indonesia     100.0
16                   Ireland     394.0
17                     Italy     108.0
18                  Malaysia     180.0
19                    Mexico     145.0
20               Netherlands     200.0
21               New Zealand      73.0
22                    Norway      96.0
23                      Peru     117.0
24               Philippines     212.0
25                    Poland     211.0
26                  Portugal      96.0
27                 Singapore     172.0
28                     Spain     156.0
29                    Sweden     195.0
30               Switzerland      86.0
31                    Taiwan     195.0
32                    Turkey      26.0
33            United Kingdom     342.0
34  United States of America    -213.0

In [8]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))

In [9]:
c_e=world.merge(c_emotions, how = 'left', left_on=['name'], right_on=['Country'])

In [10]:
c_e.name.unique()

array(['Fiji', 'Tanzania', 'W. Sahara', 'Canada',
       'United States of America', 'Kazakhstan', 'Uzbekistan',
       'Papua New Guinea', 'Indonesia', 'Argentina', 'Chile',
       'Dem. Rep. Congo', 'Somalia', 'Kenya', 'Sudan', 'Chad', 'Haiti',
       'Dominican Rep.', 'Russia', 'Bahamas', 'Falkland Is.', 'Norway',
       'Greenland', 'Fr. S. Antarctic Lands', 'Timor-Leste',
       'South Africa', 'Lesotho', 'Mexico', 'Uruguay', 'Brazil',
       'Bolivia', 'Peru', 'Colombia', 'Panama', 'Costa Rica', 'Nicaragua',
       'Honduras', 'El Salvador', 'Guatemala', 'Belize', 'Venezuela',
       'Guyana', 'Suriname', 'France', 'Ecuador', 'Puerto Rico',
       'Jamaica', 'Cuba', 'Zimbabwe', 'Botswana', 'Namibia', 'Senegal',
       'Mali', 'Mauritania', 'Benin', 'Niger', 'Nigeria', 'Cameroon',
       'Togo', 'Ghana', "Côte d'Ivoire", 'Guinea', 'Guinea-Bissau',
       'Liberia', 'Sierra Leone', 'Burkina Faso', 'Central African Rep.',
       'Congo', 'Gabon', 'Eq. Guinea', 'Zambia', 'Malawi', 'Mozambique',
       'eSwatini', 'Angola', 'Burundi', 'Israel', 'Lebanon', 'Madagascar',
       'Palestine', 'Gambia', 'Tunisia', 'Algeria', 'Jordan',
       'United Arab Emirates', 'Qatar', 'Kuwait', 'Iraq', 'Oman',
       'Vanuatu', 'Cambodia', 'Thailand', 'Laos', 'Myanmar', 'Vietnam',
       'North Korea', 'South Korea', 'Mongolia', 'India', 'Bangladesh',
       'Bhutan', 'Nepal', 'Pakistan', 'Afghanistan', 'Tajikistan',
       'Kyrgyzstan', 'Turkmenistan', 'Iran', 'Syria', 'Armenia', 'Sweden',
       'Belarus', 'Ukraine', 'Poland', 'Austria', 'Hungary', 'Moldova',
       'Romania', 'Lithuania', 'Latvia', 'Estonia', 'Germany', 'Bulgaria',
       'Greece', 'Turkey', 'Albania', 'Croatia', 'Switzerland',
       'Luxembourg', 'Belgium', 'Netherlands', 'Portugal', 'Spain',
       'Ireland', 'New Caledonia', 'Solomon Is.', 'New Zealand',
       'Australia', 'Sri Lanka', 'China', 'Taiwan', 'Italy', 'Denmark',
       'United Kingdom', 'Iceland', 'Azerbaijan', 'Georgia',
       'Philippines', 'Malaysia', 'Brunei', 'Slovenia', 'Finland',
       'Slovakia', 'Czechia', 'Eritrea', 'Japan', 'Paraguay', 'Yemen',
       'Saudi Arabia', 'Antarctica', 'N. Cyprus', 'Cyprus', 'Morocco',
       'Egypt', 'Libya', 'Ethiopia', 'Djibouti', 'Somaliland', 'Uganda',
       'Rwanda', 'Bosnia and Herz.', 'Macedonia', 'Serbia', 'Montenegro',
       'Kosovo', 'Trinidad and Tobago', 'S. Sudan'], dtype=object)

In [13]:
emotions_map = folium.Map()
choropleth = folium.Choropleth(
    geo_data=c_e,
    name="emotions_by_country",
    data=c_e,
    columns=["Country", "Emotions"],
    key_on="feature.properties.name",
    fill_color="RdYlGn",
    fill_opacity=0.8,
    line_opacity=0.4,
    legend_name="Emotions", 
).add_to(emotions_map)

folium.LayerControl(collapsed=True).add_to(emotions_map)
choropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(        
        fields=['Country'
                ,'Emotions'
               ],
        aliases=['Country: '
                ,'Emotions level: '
                 ],
        style=("background-color: white; font-family: arial; font-size: 12px; padding: 10px;") 
    )
)
emotions_map.save('emotions_map.html')

# Wniosek - w krajach oznaczonych na czerwono użytkownicy Spotify częściej słuchają piosenek, których ton tekstu jest negatywny, natomiast w krajach oznaczonych na zielono częściej słuchane są piosenki, kórych ton tekstu jest pozytywny